@use "../abstracts/variables.scss" as v;

.signup-banner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    min-height: 28px;
    background-color: v.$colorblack;
    color:v.$colorwhite;
    &__text{
        font-size:12px;

    }
    &__link{
        color:v.$colorwhite;
        text-decoration: underline;
        &:hover{
            opacity: 0.75;
        }
    }

    &__close-btn{
        position: absolute;
    }

}