$colorblack:#000000;
$colorwhite:#ffffff;


$colordark: #333333;
$colordarkhover: #2c2828;
$colordarkgray: #666666;
$colormediumgray: #777777;
$colorgray: #999999;

$colorborder: #dddddd;
$colorlightborder: #d7d7d7;
$colorinputborder: #d0d4d4;
$colorcardborder: #c4c2c2;

$colorlightgray: #eeeeee;
$colorsoftgray: #f0f0f0;
$colorhero: #f2f0f1;
$colorproductbg: #f0eeed;
$colorloginbg: #f0f2f1;

$colorred: #ff3333;
$coloryellow: #ffc633;
$colorgreen: #00a67d;
$colorloginbutton: #363535;

$colorblack60: rgba(0, 0, 0, 0.6);
$colorblue20: rgba(37, 99, 235, 0.2);

$font: Arial, Helvetica, sans-serif;