$colorblack:#000000;
$colorwhite:#ffffff;
$colordark: #333333;
$colordarkhover: #2c2828;
$colorhero: #f2f0f1;
$font: Arial, Helvetica, sans-serif;

$colordark: #333333;
$colordark-hover: #2c2828;

$color-light-gray: #f0f0f0;
$color-border: #dddddd;
$color-border-light: #d7d7d7;
$color-border-dark: #c4c2c2;

$color-text-gray: #666666;
$color-text-muted: #777777;
$color-placeholder: #999999;

$color-star: #ffc633;
$color-danger: #ff3333;
$color-success: #00a67d;

$color-input: #f0f2f1;
$color-product-option: #f0eeed;
$color-input-border: #d0d4d4;




